body{
  background-color: #3c3a3af5;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;



}
.conteplay a{

color: green;

}

.a{


}
